{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
  Фитнесс студия ФиЛтнесс. Запись на тренировку
{% endblock %}
{% block content %}
  <div class="card col-4">
    <div class="card-header">
      Запись на тренировку
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="Записатьcz на тренировку" %}

      </form>
    </div>
  </div>
 
    {% if training_session %}
      <div class="alert alert-info mt-3">
        Вы успешно забронировали тренировку:<br>
        Тренер: {{ training_session.trener }}<br>
        Время: {{ training_session.date_time|date:"d-m-Y H:i" }}
      </div>
    {% endif %}

  
{% endblock %}